@page "/"

<PageTitle>CREATE App</PageTitle>

<h1>C.R.E.A.T.E App</h1>

<p>
<strong>C.R.E.A.T.E</strong> stands for:
</p>
<ul>
    <li><strong>C</strong>ollaborate</li>
    <li><strong>R</strong>esearch</li>
    <li><strong>E</strong>xplore</li>
    <li><strong>A</strong>nalyze</li>
    <li><strong>T</strong>ransform</li>
    <li><strong>E</strong>mpower</li>
</ul>



<Counter IncrementAmount="10" />